* {
	margin: 0;
	padding: 0;
}

/* Cabeçalho */

.header-1 {
	width: 100%;
	height: 50px;
	background-color: #F0E68C;
	display: block;
}

.titulo {
	font-family: sans-serif;
	color: #A52A2A;
	font-size: 25px;
	padding: 10px;
	margin-left: 400px;
}


.menu{
	width: 100%;
	height: 80px;
	background-color: #FFFAFA;
}

.menu ul{
	float: left;
	margin-left:38%;
	max-width: 500px;
}

.menu li {
	display: inline-block;
	padding: 20px;
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 10px;
}

.menu li a {
	text-decoration: none;
}

.menu li:hover {
	background-color: #F8F8FF;
}

.menu li a:hover {
	color: #A52A2A;
}

.search{
	width: 170px;
	height: 30px;
	float: right;
	margin-right: 20%;
	margin-top: 30px;
}

.search input{
	border: 2px solid black;
	padding-left: 10px;
	width: 150px;
}


.search button{
	color: transparent;
	width: 30px;
	height: 20px;
	background-image: url('../img/buscar.png');
	background-repeat: no-repeat;
	background-position: 3px;
	background-color:transparent;
	border: 0;
	cursor: pointer;
	position: absolute;
}



/* z index sobrepoe outras camas */

.slick-prev {
	background-image: url('../img/voltar.png');
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	height: 51px;
	width: 25px;
	font-size: 0;
	position: absolute;
	z-index: 9;
	top: 280px;
	left: 15%;
}

.slick-next {
	background-image: url('../img/proximo.png');
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	height: 51px;
	width: 25px;
	font-size: 0;
	position: absolute;
	z-index: 9;
	top: 280px;
	right: 15%;
}

.slick-dots {
	margin: 0 auto;
	width: 50%;
	position: absolute;
	left: 47%;
	top: 90%;
}

.slick-dots li {
	display: inline-block;
	padding: 5px;
}

.slick-dots li button {
	font-size: 0px;
	border: 3px solid #FFFAFA;
	width: 25px;
	height: 25px;
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
}

li.slick-active button {
	background-color: #00bac6;
}

body{
	background-color: #F5FFFA;
	width: 100%;
	font-family: sans-serif;
}

/* Tabela */


.principal{
	width: 100%;
	height: 600px;
	background-color:#FFF0F5 ;
	
}

.principal h1{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 70px;
	text-transform: uppercase ;
	font-size: 30px;
}


.tabela{
	text-align: center;
	margin: 0 auto;
	border: 1px solid black;
	border-spacing: 2px;
}

td{
	border: 1px solid green;
	width: 200px;
	height: 100px;
}


td:hover{
	cursor: pointer;
	box-shadow: 2px 2px 2px grey;
}

#title0{
	text-align: center;
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 30px;
}

/* Conteudos */

.container{
	max-width: 1300px;
	border: 0px solid black;
	margin: 0 auto;

	padding-top: 50px;

	display: grid;
	grid-gap: 50px;
	grid-template-areas: 
	"cont1 cont1"
	"cont2 cont2"
	"cont3 cont3"
	"footer footer";
}

.cont1{
	max-width: 500px;
	min-width: 450px;
	height: 500px;
	background-color: #FAF0E6;
	border-radius: 10%;
	box-shadow: 3px 3px 3px grey ;

	margin: 0 auto;

	grid-area: "cont1";
	grid-row: cont1 ;
}

.cont2{
	max-width: 500px;
	min-width: 450px;
	height: 500px;
	background-color: #FAF0E6;
	border-radius: 10%;
	box-shadow: 3px 3px 3px grey ;

	margin-left: 65%;

	grid-area: "cont2";
	grid-row: cont2 ;
}

.cont3{
	max-width: 500px;
	min-width: 450px;
	height: 500px;
	background-color: #FAF0E6;
	border-radius: 10%;
	box-shadow: 3px 3px 3px grey ;

	margin: 0 auto;

	grid-area: "cont3";
	grid-row: cont3 ;
}


.cont1:hover, .cont2:hover, .cont3:hover{
	box-shadow: 4px 4px 4px grey;
	cursor: pointer;
	border-radius: 10%;
}

#title1{
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	text-transform: uppercase;
}

#title2, #title3{
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	text-transform: uppercase;
}

#subtitulo{
	margin-left: 70px;
	padding: 5px;
	margin-bottom: 50px;
}

.cont2 ul li, .cont1 ul li, .cont3 ul li{
	margin-top: 20px;
}

.cont2 ul, .cont1 ul, .cont3 ul{
    margin-left: 70px;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Rodape */

.footer{
    background-color:#A52A2A;
    width: 100%;
    height: 200px;
	margin-top: 50px;
}

.container2{
	margin: 0 auto;
	max-width: 1200px;
	display: grid;
	grid-template-areas: "footer footer";
	border: 0px solid blue;
}


.complementos{
	color: #FFFAFA;
	font-size: 20px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	padding-top: 20px;
}

.complementos p{
	width: 100%;
	font-size: 15px;
	float: left;
	margin-top: 20px;
	text-shadow: 1px 1px 1px black;
	text-decoration: none;
}

/* Tablet */

@media screen and (max-width: 950px){
	
	.titulo{
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}


	.menu ul{
		margin: 0 auto;
		margin-left: 20px;
	}

	.search{
		margin: 0 auto;
		margin-right: 100px;
		margin-top: 30px;
		width: 20px;
	}

	.search input{
		display: none;
	}

	.container{
		display: block;
	}

	.cont1,.cont2,.cont3{
		margin: 0 auto;
		margin-top: 30px;
	}


/* Cell */

@media screen and (max-width: 500px) {

	.menu ul{
		margin: 0 auto;
	}

	.search{
		margin: 0 auto;
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}


	.menu li{
		padding-left: 10px;
		font-size: 18px;
	}


	.principal h1{
		font-size: 28px;
	}

	td{
		border: 1px solid green;
		width: 100px;
		height: 80px;
	}


	.cont1,.cont2,.cont3{
		width: 50%;
	}
}